modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8090
externalPort = 80

[[ports]]
localPort = 8091
externalPort = 3000

[workflows]

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mobile Development"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Seed Data"
author = 38058782

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "tsx db/seed.ts"

[[workflows.workflow]]
name = "Mobile Development"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobile && EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0 EXPO_PUBLIC_API_URL=http://0.0.0.0:5000 npx expo start --tunnel"
